html,
body {
    font-family: 'Quicksand',
    sans-serif;
    /* font-family: Helvetica,
    Arial,
    sans-serif; */
    font-size: large;
    font-weight: 200;
    margin: 5vh 5vw;
}

.chords-container {
    width: 75vw;
    margin: 0 auto;
}

.chords {
    font-size: 3em;
}