{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'ranchords/style.css' %}">

<h1>welcome to the html file, Ozz ;)</h1>

<a href="funky_website">About</a>

<form action="">
    <h2>How many chords do you want?</h2>
    <!-- <label for="number">Number Input</label>
    <input id="number" type="number" name="number" step="1"> -->
    <br>
    <br>
    <label for="range">Slider / Range</label>
    <span>8</span>
    <input id="range" type="range" name="range" step="1" min="8" max="24">
    <span>24</span>
    <br>
    <br>
    <input type="submit" value="generate chords!">
</form>

<h2>here are your {{ user_choice }} chords:</h2>
<h2>{{ ranchords }}</h2>
