{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'ranchords/style.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap" rel="stylesheet">

<h1>Significantly improve your freedom on the guitar fretboard.</h1>

<a href="funky_website">About</a>

<form action="">
    <h3>How many chords do you want?</h3>
    <label for="range">Slider / Range</label>
    <span>8</span>
    <input id="range" type="range" name="range" step="1" min="8" max="24">
    <span>24</span>
    <br>
    <br>
    <input type="submit" value="generate chords!">
</form>

<div class="chords-container">
<h2>here are your {{ user_choice }} chords:</h2>
<h3 class="chords">{{ ranchords }}</h3>
</div>
